/* 

CustomTSA
---------------------------------------------------------

Main Page:Treadmills BG
Developer: Donkey John Jr.
Last Update: 3/31/16

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling

*/




#tsaWrapper .pure-g .l-box{
		box-sizing:content-box !important;
		padding:0 !important;
		border:none;
		margin-bottom:5px !important;
		}

#tsaWrapper .lh-90{
	line-height:90%;
}

#tsaWrapper .bp-15px{
	padding-bottom:15px;
	display:block;
}

#tsaWrapper .m-right5px{
	margin-right:5px;
	}
	
	#tsaWrapper .m-bottom25px{
	margin-bottom:25px;
	}

#tsaWrapper .p-right5px{
	padding-right:5px;
	}
#tsaWrapper .p-left5px{
	padding-left:5px;
	}	
	
#tsaWrapper .p-right10px{
	padding-right:10px;
	}
#tsaWrapper .p-left10px{
	padding-left:10px;
	}	

#tsaWrapper .push-center{
	margin-left:auto;
	margin-right:auto;
	display:block;
	}	
	
#tsaWrapper .image-border-green{
	border:#77d234 1px solid;
	margin:5px;
	}


	
	
#tsaWrapper .right5-bottom5{
 right:5px;
 bottom:3px;
 }

#tsaWrapper .bg-color-full {
	background:#ffffff;
	}
	
#tsaWrapper .height-350{
	height:350px;
	}
	
	


#tsaWrapper .section-header-2{
	font-size: 1.5em;
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#686666; 
	font-weight:200;
    text-align: left;
    clear: left;
    padding: 5px 0px;
  
}	
/* Font Treatments */
		
#tsaWrapper .text-style-200{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#686666; 
	font-weight:200;
}	

#tsaWrapper .text-style-400{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#686666; 
	font-weight:400;
}

#tsaWrapper .text-style-800{
    font-family:'open sans', Verdana, Geneva, sans-serif; 
	color:#686666; 
	font-weight:800;
}

#tsaWrapper .text-style:hover{
	color:#000000; 
	}

#tsaWrapper .lineheight180{
   line-height:180%;
}

#tsaWrapper .lineheight160{
   line-height:160%;
}

#tsaWrapper .font-size9em{
	font-size:.98em;
	}
	
#tsaWrapper .font-size8em{
	font-size:.88em;
	}

#tsaWrapper .font-size7em{
	font-size:.7em;
	}
	
#tsaWrapper .font-size1em{
	font-size:1em;
	}	
	
	
#tsaWrapper .underline{
	text-decoration:underline;
	}	
	
	
	
	#tsaWrapper .l-box h4{
		margin-left:0px;
	}	
	

#tsaWrapper .posC1{
	top: 5%;
	left: 5%;
	}


#tsaWrapper .nine-nine-percent{
	Width: 99%;
		}


#tsaWrapper .hero-bg{
 background:url(../images/.jpg) #77d234 no-repeat center top ;
 padding:0;
 background-size: 100% auto;
 width:110%;
 border-bottom: 25px #77d234 solid;
 margin-right:-7px;
 margin-left: -7px;

 }
 
 #tsaWrapper .runner-bg{
 background:url(http://img.ed4.net/tsa/images/Landing_Pages/2016/treadmill-bg/Treadmills-Features-Music.jpg) #f7f7f7 fixed no-repeat center top ;
 padding:0;
 background-size: 100% auto;
 width:110%;
 display:block;
 min-height:155px;
 border-bottom: 25px #636462 solid;
 }
 
  #tsaWrapper .treadmill-bg{
 background:url(http://img.ed4.net/tsa/images/Landing_Pages/2016/treadmill-bg/Treadmills-Runner.jpg) #f7f7f7 fixed no-repeat center top ;
 padding:0;
 background-size: 100% auto;
 width:110%;
 display:block;
 min-height:155px;
 border-bottom: 25px #77d234 solid;
 }

#tsaWrapper .copy-block {
	background:#f7f7f7; 
	opacity:.9;  
	float:right ; 
	margin: 15% 1% 1% 1%;
	border:thin #e9e9e9 solid;
	max-width:568px;
	padding:15px;
	}
	
#tsaWrapper .pure-s {
	background:#ddd;
	}
	

/* Table Styling */	

#tsaWrapper .tableOverflow{
 overflow-x:auto;	
	
	}
#tsaWrapper .strideTable{
	border:1px #77d234 solid;
	text-align:left;
	width:90%;
	}
	
#tsaWrapper .priceTable{
	border:1px #77d234 solid;
	text-align:left;
	width:80%;
	margin-top:15px;
	}			
#tsaWrapper thead, td{
   padding:5px;
width:100%;	

}	

#tsaWrapper td:nth-child(1){
width:25%;	
}

#tsaWrapper td:nth-child(2){
width:25%;	
}	

#tsaWrapper td:nth-child(3){
width:25%;	
}		
	
	#tsaWrapper td:nth-child(4){
width:25%;	
}		
	
	#tsaWrapper thead{
   background:#CCC;
 
	}
	#tsaWrapper tr:nth-child(even){
   background:#fff;
	}	
	
	#tsaWrapper tr:hover{
background:#baf78e;

}
	 


@media all and (max-width: 639px) {

#tsaWrapper .copy-block {
	background:#f7f7f7; 
	opacity:.9;  
	float:right; 
	margin-top: 15%;
	margin-left:10px;
	border:thin #e9e9e9 solid;
	width:100%;
	padding:0px;
	}

}

/* New Menu CSS */

#tsaWrapper nav {
	float: left;
	width:100%;
	clear:both;
}
#tsaWrapper nav ul {
  margin: 0;
  padding: 0;
}
#tsaWrapper nav li {
  position: relative;
  list-style: none;
}

#tsaWrapper nav li:target ul li:first-child {
  border-top: none;
}

#tsaWrapper nav li:target .less {
  z-index: 9999999;
}

#tsaWrapper nav li a {
  background: #555555;
  padding: 10px 5px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size:12px;
}
#tsaWrapper nav li a:hover {
  background: #d1d1d1;
}

#tsaWrapper nav li a.more, #tsaWrapper nav li a.less {
  display: none;
  font-family: icon;
  position: absolute;
  top: 0;
  right: 0;
  background: #999;
  padding: 0;
  width: 12%;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  z-index: 9999999;
  font-size: 30px;
  -moz-box-shadow: -3px 0px 2px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -3px 0px 2px -2px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0px 2px -2px rgba(0, 0, 0, 0.1);
}
#tsaWrapper .touch nav li a.more, #tsaWrapper .touch nav li a.less {
  display: block;
}

#tsaWrapper nav li a.more:hover, #tsaWrapper nav li a.less:hover {
  background: #888;
}
#tsaWrapper nav li ul {
  padding: 0;
}

#tsaWrapper nav li ul li {
  height: 0px;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  overflow: hidden;
  margin-bottom: 0;
}

#tsaWrapper nav li ul a {
  background: #999;
  line-height: 21px;
  border: none;
}

#tsaWrapper nav li ul a:hover {
  background: #888;
}

#tsaWrapper nav li:target ul li {
  height: 40px;
}

@media all and (max-width: 640px) {
  #tsaWrapper nav li {
    margin-bottom: 2px;
  }
  
  #tsaWrapper nav li a.more, #tsaWrapper nav li a.less {
    display: block;
  }
  
 #tsaWrapper nav li ul a {
    padding-left: 20px;
  }
  
   #tsaWrapper nav li:target ul li {
    border-top: 1px solid #c8c8c8;
  }
   #tsaWrapper nav li:not(.mobileContain){
  display:none;
}
 
}
@media all and (min-width: 639px) {
  #tsaWrapper nav li {
    float: left;
    width: 19.68%;
    text-align: center;
  }
  #tsaWrapper nav li:last-child a {
    border: none;
  }
  #tsaWrapper nav li:hover li {
    height: 40px;
  }
  
   #tsaWrapper nav li a {
    border-right: 1px solid #555;
  }
  
   #tsaWrapper nav li ul {
    width: 100%;
    position: absolute;
  }
  
  #tsaWrapper nav li ul li {
    width: auto;
    float: none;
    border: none;
    margin-left: -1px;
  }
  #tsaWrapper  .mobileContain{
    display:none;
}
}

@media all and (max-width: 639px) {
 #tsaWrapper .runner-bg{
 background:#f7f7f7 fixed no-repeat center top ;
 padding:0;
 background-size: 100% auto;
 width:110%;
 display:block;
  border-bottom: 25px #636462 solid;
 }
 
  #tsaWrapper .treadmill-bg{
 background:#f7f7f7 fixed no-repeat center top ;
 padding:0;
 background-size: 100% auto;
 width:110%;
 display:block;
 border-bottom: 25px #77d234 solid;
 }
}